:root {
    --hover-color: red;
    --background-color: grey;
}

html{
    font-family: 'Roboto', sans-serif;
}

/* Buttons */
.hover_button{
    cursor: pointer;
}

.hover_button:hover,
.hover_button:focus{
    color: var(--hover-color);
}

.is-hidden{
    display: none;
}
.item-with-bg{
    background-color: var(--background-color);
}