.task-item{
    --background-color: rgb(45, 241, 45);
}
#modal-confirm-delete,#modal-update-task{
    --background-color: rgba(255, 58, 58, 0.24);
    position: fixed;
    left: 0;
    top: 0;
    height:100%;
    width:100%;
    z-index: 1;
}
#modal-content-delete, #modal-content-update{
    --background-color: rgb(255, 255, 255);
    margin: 25vh auto ;
    width:50vw;
    height: 30vh;

}