<%- include('../includes/head', {title: 'Entertainment'})  %>
<!--<script src="scripts/taskHelper.js" defer></script>-->
</head>

<body>

    <%- include('../includes/header')  %>

    <main>
        <h1>Entertainment corner here:</h1>
        <div id="feedback"></div>
        <h2>Poem of the day:</h2>
        <!-- https://poems.one/api/poem/#endpoint  -->
        <h2>Cat Facts</h2>
        <!--https://alexwohlbruck.github.io/cat-facts/docs/-->
        <h2>Dog of the day</h2>
        <!-- https://dog.ceo/dog-api/ -->
        <h2>IUCN</h2>
        <!-- https://apiv3.iucnredlist.org/api/v3/docs  -->
        <h2>Harvard Museum</h2>
        <!-- https://github.com/harvardartmuseums/api-docs  -->
        
    </main>

<%- include('../includes/footer') %>