<%- include('../includes/head', {title: 'Tasks'})  %>
</head>

<body>

    <%- include('../includes/header')  %>

    <main>
        <h1>Tasks and Todos mentioned here</h1>
        <ul>
            <% if(tasks) {for (const task of tasks) { %>
                <li>
                    <%- include('taskItem', { task: task }) %>
                </li>
            <% }} %>
        </ul>
        
    </main>

<%- include('../includes/footer') %>