<header>
    <div><a class="hover_button item-with-bg" href="/">FTT</a></div>
    <nav>
        <ul>
            <li><a class="hover_button item-with-bg" href="/entertainment">Entertain</a></li>
            <li><a class="hover_button item-with-bg" href="/tasks">Tasks</a></li>
            <li><a class="hover_button item-with-bg" href="/chat">Chat</a></li>
            <li><a class="hover_button item-with-bg" href="/user/logout">Log-Out</a></li>
            <li><a class="hover_button item-with-bg" href="/user/logoutall">Log-Out-All-Devices</a></li>
        </ul>
    </nav>
</header>