<header>
    <div><a href="/">FTT</a></div>
    <nav>
        <ul>
            <li><a href="/entertainment">Entertain</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/user/logout">Log-Out</a></li>
            <li><a href="/user/logoutall">Log-Out-All-Devices</a></li>
        </ul>
    </nav>
</header>