<header>
    <div><a href="/">FTT</a></div>
    <nav>
        <ul>
            <li>Entertain</li>
            <li>Todo</li>
            <li>Chat</li>
            <li>Log-Out</li>
        </ul>
    </nav>
</header>