<%- include('includes/head', {title: 'Home'})  %>
</head>

<body>

    <%- include('includes/header')  %>

    <main>
        <h1>Home Screen</h1>
        
    </main>

<%- include('includes/footer') %>
