<%- include('../includes/head', {title: 'Chat Page'})  %>
<!--<script src="scripts/taskHelper.js" defer></script>-->
</head>

<body>

    <%- include('../includes/header')  %>

    <main>
        <h1>Chat Page:</h1>
        <div id="feedback"></div>        
    </main>

<%- include('../includes/footer') %>